<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Pizza</title>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="login-container">
        <h1>Entrar na Conta</h1>
        <form id="loginForm" method="POST">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div id="message"></div>
        <div class="links-group">
            <p>Criar uma conta? <a href="/sing_in">Cadastre-se aqui</a></p>
            <button type="button" id="backToHomeButton">Voltar para a Página Inicial</button>
        </div>
    </div>
</body>
</html>